@page "/"
@layout EmptyLayout
<PageTitle>Index</PageTitle>
<MudContainer>
  <div style="font-family: Tahoma, sans-serif; height:100%;width:100%;text-align:center;background-color:#1c1f22;">
    <h1 style="font-size:4rem;text-align: center; margin-top: 30%">Welcome to King of Burgers!</h1>

    <img style="width: 400px; height: 400px; padding-top: 5%" src="/logo.jpg" />
    <div style="padding:20px"></div>
   <MudLink Href="/serve" ><MudButton style="border-radius:40px; background-color:#EABC45;margin: 50px; height:100px; width:300px" Variant="Variant.Filled" Size="Size.Large"  Color="Color.Tertiary"><h2>Order Here</h2></MudButton>
    </MudLink>
    </div>
</MudContainer>


