@page "/"
@layout EmptyLayout
<PageTitle>Index</PageTitle>
<MudContainer>
  <div style="height:100%;width:100%;text-align:center">
    <h1 style="font-size:3rem;text-align: center; margin-top: 30%">Welcome!</h1>

    <h2 style="font-family: 'Stylish', sans-serif; font-size: 2rem; text-align: center; padding-top: 5% ">King of Burgers</h2>

    <img style="width: 400px; height: 400px; padding-top: 5%" src="/logo.jpg" />
    <div style="padding:20px"></div>
   <MudLink Href="/serve"><MudButton style="background-color:#EABC45;margin: 50px; height:100px; width:300px" Variant="Variant.Filled" Size="Size.Large"  Color="Color.Tertiary"><h2>Order Here</h2></MudButton>
    </MudLink>
    </div>
</MudContainer>


