@page "/browse"
@page "/browse/{page}"
@inject NavigationManager NavigationManager
@inject StateContainer StateContainer
<link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">

<PageTitle>Menu Browsing</PageTitle>

<MudGrid Class="d-flex align-center overflow-scroll" Height="100">
    <MudItem xs="12" Class="mt-6">
        <MudImage Fluid="true" Src="@featureItem" Class="d-block mx-auto rounded-lg"/>
    </MudItem>
    
         @foreach (var item in currentMenu) {
        <MudItem xs="4" Elevation="0">
            <MudLink Href="/Customize">
            <MudCard @onclick="() => {
                StateContainer.itemToCustomize = item;
    }">
           
                <MudCardContent> @*link to feature on click here*@
                    <MudImage Fluid="true" Src="@item.image" Class="d-block mx-auto rounded-lg"/>
                    <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="px-5"><b>@item.name</b></MudText>
                    <table Class="mx-auto">
                        <tr>
                            <td><MudText Typo="Typo.subtitle1" Align="Align.Center" Class="mr-2">$@item.price</MudText></td>

                        @if (!string.IsNullOrWhiteSpace(item.tags)) {
                            @if (item.tags.Contains("pork")) {<td><MudImage Src="/resources/pork-icon.svg" Width="20" Class="d-block mx-auto"/></td>}
                            @if (item.tags.Contains("spicy")) {<td><MudImage Src="/resources/chilli-pepper-icon.svg" Width="20" Class="d-block mx-auto"/></td>}
                            @if (item.tags.Contains("popular")) {<td><MudImage Src="/resources/like-button-icon.svg" Width="20" Class="d-block mx-auto"/></td>}
                            @if (item.tags.Contains("vegetarian")) {<td><MudImage Src="/resources/leaves-icon.svg" Width="20" Class="d-block mx-auto"/></td>}
                            @if (item.tags.Contains("GF")) {<td><MudImage Src="/resources/gluten-free-icon.svg" Width="20" Class="d-block mx-auto"/></td>}
                        }
                                
                        </tr>
                    </table>
                </MudCardContent>
            </MudCard>
            </MudLink>
        </MudItem>
    }
</MudGrid>

@code {

    private List<MenuItem> currentMenu = new();
    private string featureItem;
    [Parameter] public string Page { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Page == "burgers")
            BurgerMenu();
        else if (Page == "sides")
            SidesMenu();
        else if (Page == "drinks")
            DrinkMenu();
    }

























    public void BurgerMenu() {
        currentMenu.Clear();
        featureItem = "/resources/burgerbanner.png";



       currentMenu.Add(new MenuItem() { category = "burger", ID = 1, name = "Schooper Burger", price = 10, image = "/resources/whopper.png", tags = "popular",
    Ingredients = new List<Ingredient> { 
        new Ingredient { Name = "Lettuce", Quantity = "Regular" },
        new Ingredient { Name = "Tomato", Quantity = "Regular" },
        new Ingredient { Name = "Pickles", Quantity = "Regular" },
        new Ingredient { Name = "Onion", Quantity = "Regular" },
        new Ingredient { Name = "House Sauce", Quantity = "Regular" }},
    description = "Our signature Schooper Burger is a mouthwatering treat loaded with fresh lettuce, juicy tomatoes, crunchy pickles, flavorful onions, and our secret house sauce. This classic burger is sure to satisfy your cravings and keep you coming back for more.",
    Calories = 550
    });



currentMenu.Add(new MenuItem() { category = "burger", ID = 2, name = "Jr. Schooper", price = 5, image = "/resources/jrschooper.png", tags = "",
    Ingredients = new List<Ingredient> { 
        new Ingredient { Name = "Lettuce", Quantity = "Regular" },
        new Ingredient { Name = "Tomato", Quantity = "Regular" },
        new Ingredient { Name = "Mayonnaise", Quantity = "Regular" },
        new Ingredient { Name = "Ketchup", Quantity = "Regular" }},
    description = "The Jr. Schooper is a smaller, yet equally delicious alternative to our classic Schooper Burger. With crisp lettuce, ripe tomatoes, smooth mayonnaise, and tangy ketchup, this tasty burger packs a punch without overwhelming your appetite.",
    Calories = 350
     });


currentMenu.Add(new MenuItem() { category = "burger", ID = 3, name = "Spicy King Burger", price = 8, image = "/resources/spicykingburger.png", tags = "spicy",
    Ingredients = new List<Ingredient> { 
        new Ingredient { Name = "Lettuce", Quantity = "Regular" },
        new Ingredient { Name = "Tomato", Quantity = "Regular" },
        new Ingredient { Name = "Jalapenos", Quantity = "Regular" },
        new Ingredient { Name = "Pepper Jack Cheese", Quantity = "Regular" },
        new Ingredient { Name = "Spicy Mayo", Quantity = "Regular" }},
    description = "The Spicy King Burger is a fiery feast for the adventurous eater. Featuring a blend of spicy jalapenos, zesty pepper jack cheese, and our signature spicy mayo, this burger brings the heat while delivering a satisfying and flavorful experience that will leave you wanting more.",
    Calories = 700
     });



currentMenu.Add(new MenuItem() { category = "burger", ID = 4, name = "Queen Burger", price = 10, image = "/resources/queenburger.png", tags = "popular", 
    Ingredients = new List<Ingredient> { 
        new Ingredient { Name = "Lettuce", Quantity = "Regular" },
        new Ingredient { Name = "Tomato", Quantity = "Regular" },
        new Ingredient { Name = "Swiss Cheese", Quantity = "Regular" },
        new Ingredient { Name = "Mushrooms", Quantity = "Regular" },
        new Ingredient { Name = "Garlic Aioli", Quantity = "Regular" }},
    description = "The Queen Burger is a sumptuous creation made with tender mushrooms, creamy Swiss cheese, and a generous dollop of our rich, homemade garlic aioli. This royal delight is nestled between fresh lettuce and ripe tomatoes, making it a must-try for anyone who enjoys a delectable and indulgent burger experience.",
Calories = 670
});

currentMenu.Add(new MenuItem() { category = "burger", ID = 5, name = "Knight's Bacon Loaded Burger", price = 5, image = "/resources/knightsbaconloaded.png", tags = "pork/popular",
Ingredients = new List<Ingredient> {
new Ingredient { Name = "Lettuce", Quantity = "Regular" },
new Ingredient { Name = "Tomato", Quantity = "Regular"},
new Ingredient { Name = "Bacon", Quantity = "Regular" },
new Ingredient { Name = "Cheddar Cheese", Quantity = "Regular" },
new Ingredient { Name = "BBQ Sauce", Quantity = "Regular" }},
description = "The Knight's Bacon Loaded Burger is a hearty meal crafted for bacon aficionados. This epic burger features crispy, smoky bacon, sharp cheddar cheese, and tangy BBQ sauce, all served atop a bed of fresh lettuce and ripe tomatoes. Satisfy your hunger with this bacon lover's dream come true.",
Calories = 720
});

currentMenu.Add(new MenuItem() { category = "burger", ID = 6, name = "Chili Chicken Burger", price = 8, image = "/resources/chillichicken.png", tags = "popular/spicy" ,
Ingredients = new List<Ingredient> {
new Ingredient { Name = "Lettuce", Quantity = "Regular" },
new Ingredient { Name = "Tomato", Quantity = "Regular" },
new Ingredient { Name = "Chili Sauce", Quantity = "Regular" },
new Ingredient { Name = "Red Onion", Quantity = "Regular" },
new Ingredient { Name = "Ranch Sauce", Quantity = "Regular" }},
description = "Our Chili Chicken Burger offers a delightful fusion of spicy and savory flavors. Topped with zesty chili sauce, crunchy red onions, and a refreshing drizzle of ranch dressing, this burger strikes the perfect balance between heat and cool, making it a must-try for fans of spicy food.",
Calories = 620
});

currentMenu.Add(new MenuItem() { category = "burger", ID = 7, name = "BLT Burger", price = 10, image = "/resources/BLT.png", tags = "pork" ,
Ingredients = new List<Ingredient> {
new Ingredient { Name = "Lettuce", Quantity = "Regular" },
new Ingredient { Name = "Tomato", Quantity = "Regular" },
new Ingredient { Name = "Bacon", Quantity = "Regular" },
new Ingredient { Name = "Mayonnaise", Quantity = "Regular" }},
description = "A twist on the classic BLT sandwich, our BLT Burger combines crispy bacon, fresh lettuce, and juicy tomatoes with a dollop of creamy mayonnaise. This simple, yet satisfying burger is perfect for those seeking a classic taste with a modern spin.",
Calories = 600
});

currentMenu.Add(new MenuItem() { category = "burger", ID = 8, name = "Beyond Meat Schooper", price = 5, image = "/resources/beyondschooper.png", tags = "vegetarian",
Ingredients = new List<Ingredient> {
new Ingredient { Name = "Lettuce", Quantity = "Regular" },
new Ingredient { Name = "Tomato", Quantity = "Regular" },
new Ingredient { Name = "Onion", Quantity = "Regular" },
new Ingredient { Name = "Pickle", Quantity = "Regular" },
new Ingredient { Name = "Vegan Mayo", Quantity = "Regular" }},
description = "The Beyond Meat Schooper is a delicious and eco-friendly alternative for burger enthusiasts. This plant-based delight features a mouthwatering Beyond Meat patty, crisp lettuce, juicy tomatoes, tangy pickles, and a dollop of vegan mayo. Satisfy your burger cravings without compromising your values with this vegetarian favorite.",
Calories = 580
});

currentMenu.Add(new MenuItem() { category = "burger", ID = 9, name = "King Vegan Burger", price = 8, image = "/resources/kingvegan.png", tags = "vegetarian/popular" ,
Ingredients = new List<Ingredient> {
new Ingredient { Name = "Lettuce", Quantity = "Regular" },
new Ingredient { Name = "Tomato", Quantity = "Regular" },
new Ingredient { Name = "Onion", Quantity = "Regular" },
new Ingredient { Name = "Avocado", Quantity = "Regular" },
new Ingredient { Name = "Vegan Chipotle Mayo", Quantity = "Regular" }},
description = "The King Vegan Burger is a scrumptious and satisfying plant-based option that will leave you craving more. This burger is topped with creamy avocado, crunchy onions, and a zesty vegan chipotle mayo that adds a hint of spice. Indulge in the flavors of this irresistible vegan burger, and you'll understand why it's a crowd favorite.",
Calories = 640
});

        
    }



    public void DrinkMenu() {
        currentMenu.Clear();
        featureItem = "/resources/milkshakebanner.png";
        currentMenu.Add(new MenuItem() { category = "drinks", ID = 1, name = "Hersheys Milkshake", price = 5, image = "/resources/chocolatemilkshake.png", tags="popular"});
        currentMenu.Add(new MenuItem() { category = "drinks", ID = 1, name = "Vanilla Milkshake", price = 5, image = "/resources/vanillamilkshake.png", tags=""});
        currentMenu.Add(new MenuItem() { category = "drinks", ID = 1, name = "Oreo Milkshake", price = 5, image = "/resources/oreomilkshake.png", tags="popular"});
        currentMenu.Add(new MenuItem() { category = "drinks", ID = 1, name = "Strawberry Milkshake", price = 5, image = "/resources/strawberrymilkshake.png", tags="popular"});
        currentMenu.Add(new MenuItem() { category = "drinks", ID = 1, name = "Coke", price = 2, image = "/resources/coke.png", tags="popular"});
        currentMenu.Add(new MenuItem() { category = "drinks", ID = 1, name = "Diet Coke", price = 2, image = "/resources/dietcoke.png", tags=""});
        currentMenu.Add(new MenuItem() { category = "drinks", ID = 1, name = "Sprite", price = 2, image = "/resources/sprite.png", tags=""});
        currentMenu.Add(new MenuItem() { category = "drinks", ID = 1, name = "Root Beer", price = 2, image = "/resources/rootbeer.png", tags="popular"});
        currentMenu.Add(new MenuItem() { category = "drinks", ID = 1, name = "Iced Tea", price = 2, image = "/resources/icedtea.png", tags="popular"});
        currentMenu.Add(new MenuItem() { category = "drinks", ID = 1, name = "Fruitopia", price = 2, image = "/resources/fruitopia.png", tags=""});
        currentMenu.Add(new MenuItem() { category = "drinks", ID = 1, name = "Bottled Water", price = 2, image = "/resources/water.png", tags=""});
    }

    public void SidesMenu() {
        currentMenu.Clear();
        featureItem = "/resources/chickenfriesbanner.png";
        currentMenu.Add(new MenuItem() { category = "sides", ID = 1, name = "8pc Chicken Nuggets", price = 6, image = "/resources/chickennuggets.png", tags="popular"});
        currentMenu.Add(new MenuItem() { category = "sides", ID = 2, name = "Poutine", price = 7, image = "/resources/poutine.png", tags=""});
        currentMenu.Add(new MenuItem() { category = "sides", ID = 3, name = "Spicy Loaded Poutine", price = 9, image = "/resources/spicyloadedpoutine.png", tags="popular/spicy"});
        currentMenu.Add(new MenuItem() { category = "sides", ID = 4, name = "French Fries", price = 5, image = "/resources/frenchfries.png", tags=""});
        currentMenu.Add(new MenuItem() { category = "sides", ID = 5, name = "Onion Rings", price = 5, image = "/resources/onionrings.png", tags=""});
        currentMenu.Add(new MenuItem() { category = "sides", ID = 6, name = "Chicken Fries", price = 7, image = "/resources/chickenfries.png", tags="popular"});
        currentMenu.Add(new MenuItem() { category = "sides", ID = 7, name = "8pc Dill Pickle Nuggets", price = 5, image = "/resources/chickennuggets.png", tags="vegetarian"});
        currentMenu.Add(new MenuItem() { category = "sides", ID = 8, name = "Loaded Baked Potato", price = 8, image = "/resources/bakedpotato.png", tags=""});
        currentMenu.Add(new MenuItem() { category = "sides", ID = 9, name = "Signature Chilli", price = 6, image = "/resources/chilli.png", tags=""});
    }


}