@page "/receipt"
@layout EmptyLayout
@using MyApplication.Shared
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject NavigationManager NavigationManager
@inject StateContainer StateContainer

<PageTitle>Thanks</PageTitle>
<MudContainer>
  <div style="font-family: Tahoma, sans-serif; height:100%;width:100%;text-align:center;background-color:#1c1f22;">
    <h1 style="font-size:4rem;text-align: center; margin-top: 30%">Thank You For Your Patronage!</h1>

    <img style="width: 400px; height: 400px; padding-top: 5%" src="/logo.jpg" />
    <div style="padding:20px"></div>
   <MudButton style="border-radius:40px; background-color:#EABC45;margin: 50px; height:100px; width:300px" Variant="Variant.Filled" Size="Size.Large"  Color="Color.Tertiary" @onclick="@(() => { NavigationManager.NavigateTo("/"); StateContainer.restartOrder();})"><h2>Print Receipt</h2></MudButton>
    
    <MudButton style="border-radius:40px; background-color:#EABC45;margin: 50px; height:100px; width:300px" Variant="Variant.Filled" Size="Size.Large"  Color="Color.Tertiary" @onclick="@(() => { OpenDialog(); StateContainer.restartOrder();})"><h2>Email Receipt</h2></MudButton>
    

    </div>
</MudContainer>



@code {

    private void OpenDialog()
    {    
        DialogOptions options = new DialogOptions() { CloseOnEscapeKey = true };

        DialogService.Show<DialogEmail>("Please Input Your Email", options);
    }

}
