@page "/serve"
@layout EmptyLayout
<PageTitle>Index</PageTitle>
<MudContainer>
  <div style="color:#ffffff; font-family: Tahoma; height:100%;width:100%;text-align:center">

    <div style="padding-top:20%">
        <h1>How would you like your order?</h1>
    </div>


    <img style="margin-right: 50px; margin-top: 20%; width: 250px; height: 250px " src="/dinein.png" />
    <img style="margin-left: 50px; margin-top: 20%; width: 250px; height: 250px" src="/takeout.png" />

    <div></div>
    
    <MudLink Href="/fetchdata"><MudButton Style="border-radius:40px; margin-top:5%; margin-right: 50px; background-color: #EABC45; width: 250px; height: 120px; font-size: xx-large;" ><b>Dine-In</b></MudButton></MudLink>
    <MudLink Href="/fetchdata"><MudButton Style="border-radius:40px; margin-top:5%;margin-left:50px; background-color:#EABC45; width: 250px; height: 120px; font-size: xx-large;"><b>Take-Out</b></MudButton> </MudLink>
    </div>
</MudContainer>